@import "search.css"; /* Using a string */
@import "select.css"; /* Using a string */
@import url("https://v1.fontapi.ir/css/Vazir");
@tailwind base;
@tailwind components;
@tailwind utilities;

.width-20 {
    width: 100%;
}

.width-40 {
    width: 40%;
}

.rtl {
    direction: rtl !important;
}

.text-bold {
    font-weight: bold !important;
}
