@import "search.css"; /* Using a string */
@import "select.css"; /* Using a string */
@import url("https://v1.fontapi.ir/css/Vazir");
@tailwind base;
@tailwind components;
@tailwind utilities;

.width-20 {
    width: 100%;
}

.width-40 {
    width: 40%;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}
.tiny-text {
    font-size: 12px;
}

.text-bold {
    font-weight: bold !important;
}

.brand-default {
    font-weight: bold;
    font-size: 14px;
    color: #d6d6d6;
    background: red;
}

.MOB {
    background: #195d8c;
}

.GEN {
    background: #042135;
}
